
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:rgb(15, 15, 75);
}

.navbar h1 {
    flex: 3;
    color: darkgoldenrod;
}

.buttons {
    flex: 5;
    display: flex;
    justify-content: space-evenly;
}

.buttons * {
    color: white;
    font-size: large;
}

.navbar button {
    flex: 1;
    background-color: darkgoldenrod;
    color: black;
}

@media screen and (max-width: 549px) {

    .navbar {
        flex-direction: column;
        padding-bottom: 5px;
    }

    .buttons {
        width: 100%;
        padding-bottom: 10px;
        justify-content: space-evenly;
    }

    .navbar h1 {
        font-size: large;
    }
    
    .buttons * {
        font-size: small;
    }

    #detailsBtn {
        font-size: small;
        padding: 3px 5px;
    }

  }