
.totalBody {
    display: unset;
    overflow-x: hidden;
}

#totalHeading {
    margin-bottom: 15px;
}

#total {
    font-size: 50px;
    margin-top: 0;
}

table {
    width: 96%;
    margin: 10px 2%;
    padding: 15px 0;
    font-size: larger;
}

th, td {
    padding: 5px 0;
    border: 1px solid white;
    border-collapse: collapse;
}

tr:nth-child(odd) {
    background-color: #393939;
}

@media screen and (max-width: 900px) {
    .grid {
        grid-template-columns: repeat(3, 30%);
        row-gap: 50px;
        column-gap: 5%;
        padding: 0 2.5%;
    }
}

@media screen and (max-width: 480px) {

    #totalHeading {
        font-size: 30px;
    }

    #total {
        font-size: 40px;
        margin-bottom: 15px;
    }

    table {
        font-size: small;
    }
}